.adminPanel {
  margin: auto;
  padding: 10px 5px;
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  @media (max-width: 550px) {
    height: 160px;
    flex-direction: column;
    align-items: center;
  }
  p {
    font-family: $font;
    font-size: 20px;
    color: $white;
  }
  .adminPanelSection {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 550px) {
      width: 80px;
      height: 90px;
      flex-direction: column;
      align-items: center;
    }
    button {
      font-family: $font;
      font-size: 15px;
      color: $white;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      &:hover {
        border-bottom: 2px solid red;
      }
      &:active {
        border-bottom: 2px solid white;
      }
    }
  }
}

.rateChange {
  display: flex;
  @media (max-width: 1100px) {
    flex-direction: column;
  }
}