.calculator {
  background: linear-gradient(180deg, rgba(253,0,0,1) 0%, rgba(152,0,0,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  .iconTitle {
    width: 196px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    p {
      font-family: $font;
      font-size: 20px;
      font-weight: bold;
      color: $white;
    }
  }
  .rateInputContainer {
    width: 200px;
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-family: $font;
        font-size: 15px;
        color: $white;
      }
      input {
        width: 140px;
        padding: 5px;
      }
    }
    
  }
}