.createAdminForm {
  margin: 30px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    width: 580px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 630px) {
      width: auto;
      height: 150px;
      flex-direction: column;
    }
  }
  input {
    padding: 5px;
  }
  button {
    @include button;
    width: 190px;
    height: 30px;
    padding: 5px;
    background: #fff;
    margin-top: 30px;
    &:active {
      background-color: black;
      border: black;
      color: $white;
    }
  }
}

.adminTableContainer {
  width: 100%;
  max-width: 520px;
  height: 60%;
  margin-bottom: 65px;
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #fff;
  text-align: center;
  table {
    width: 100%;
    th {
      width: 30%;
    }
    tr {
      height: 35px;
      &:hover {
        background-color: #1a1919;
      }
    }
  }
  .denied {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background: transparent;
    background-image: url(/static/media/icCancel.2ce24ca2.svg);
    cursor: pointer;
  }
}