.depositView {
  background-color: #333333;
  height: 66vh;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-family: $font;
    font-size: 20px;
    font-weight: bold;
    color: $white;
    margin-bottom: 20px;
    text-align: center;
  }
  .depositTable {
    width: 90%;
    height: 90%;
    font-family: $font;
    font-size: 15px;
    color: $white;
    text-align: center;
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
      border-radius: 4px;
    }
    @media (max-width: 730px) {
      width: 100%;
    }
    table {
      width: 100%;
      tbody > tr {
        height: 35px;
        &:hover {
          background-color: #1a1919;
        }
      }
      input {
        border: none;
      }
    }
    .approved {
      width: 20px;
      height: 20px;
      margin-right: 20px;
      border: none;
      outline: none;
      background: transparent;
      background-image: url('../assets/icCheck.svg');
      cursor: pointer;
    }
    .approvedActive {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      border: none;
      outline: none;
      background: transparent;
      background-image: url('../assets/icCheckActive.svg');
    }
    .denied {
      width: 20px;
      height: 20px;
      border: none;
      outline: none;
      background: transparent;
      background-image: url('../assets/icCancel.svg');
      cursor: pointer;
    }
    .deniedActive {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      border: none;
      outline: none;
      background: transparent;
      background-image: url('../assets/icCancelActive.svg');
    }
  }
}