.banner {
  background-image: url('../assets/home.jpg');
  @include background-repeat;
  @include background-cover;
  display: flex;
  justify-content: center;
  .homeBackground {
    width: 100%;
    padding: 53px 0;
    display: flex;
    justify-content: center;
    background-color: rgba($color: #000, $alpha: 0.4);
    img {
      width: 346px;
      height: 50px;
      @media (max-width: 430px) {
        width: 245px;
      }
    }
  }
}

.deposit {
  background-color: #000;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-family: $font;
    color: $white;
    font-size: 20px;
    font-weight: bold;
  }
  form {
    width: 760px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 850px) {
      width: 280px;
      height: auto;
    }
    @media (max-width: 360px) {
      width: 220px;
    }
    .divForm {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @media (max-width: 850px) {
        flex-direction: column;
        align-content: center;
        height: 220px;
      }
      input {
        width: 178px;
        height: 35px;
        @media (max-width: 850px) {
          width: 100%;
        }
      }
    }
    
    .btnSignup {
      @include button;
      width: 190px;
      height: 30px;
      padding: 5px;
      background: #fff;
      margin-top: 40px;
      &:active {
        background-color: #333333;
        border: #333333;
        color: $white;
      }
    }
  }
}