.downloads {
  width: 100%;
  height: auto;
  padding: 40px 15px;
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .arrowDownload {
    width: 181px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .downloadApp {
      font-family: $font;
      color: $white;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .pDownload {
    font-family: $font;
    color: $white;
    font-size: 15px;
    margin: 30px 0;
    text-align: center;
  }

  .downloadsIcon {
    width: 210px;
    height: 50px;
    display: flex;
    justify-content: space-between;

    a {
      &:hover {
        border-bottom: 2px solid red;
      }
    }
  }
}