footer {
  width: 100%;
  height: auto;
  background-color: #980000;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .links {
    width: 330px;
    height: 25px;
    padding-left: 45px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 420px) {
      width: 240px;
      padding: 0;
    }
    a {
      font-family: $font;
      color: $white;
      font-size: 15px;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        border-bottom: 2px solid black;
      }
      &:active {
        border-bottom: 2px solid white;
      }
    }
  }
  p {
    font-family: $font;
    color: $white;
    font-size: 10px;
    width: 497px;
    margin: 47px 0;
    text-align: center;
    @media (max-width: 520px) {
      width: auto;
    }
  }
}

.footerAdmin {
  position: fixed;
  bottom: 0;
}