* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333333;
}

input {
  font-family: $font;
  font-size: 15px;
  text-align: center;
  color: $input;
  border: none;
  border-bottom: 1px solid $input;
  background: transparent;
  outline: none;
}

::-webkit-input-placeholder {
  color: $white;
  text-align: center;
}
/* Firefox 18- */
:-moz-placeholder {
  color: $white;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: $white;
  text-align: center;
}
:-ms-input-placeholder {
  color: $white;
  text-align: center;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #000;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  appearance:none;
}
input[type=number] {
  -moz-appearance:textfield;
}