.headerContainer {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: center;
  background: #000;
}

.header {
  width: 100%;
  max-width: 1024px;
  padding: 0px 50px;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 350px) {
    padding: 0px 25px;
  }
  .nav {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.linksContainer {
  width: 450px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  a {
    text-decoration: none;
    color: $white;
    font-family: $font;
    font-size: 15px;
    cursor: pointer;
    &:hover {
      border-bottom: 2px solid red;
    }
    &:active {
      border-bottom: 2px solid white;
    }
  }
}

.headerAdmin {
  width: 220px;
}

.menuBtn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

.menuToggle {
  display: none;
}

@media (max-width: 768px) {
  .linksContainer {
    display: none;
  }

  .menuBtn {
    display: flex;
  }

  .menuToggle {
    width: 121px;
    padding: 20px 0 0;
    background: #000000CC;
    position: absolute;
    top: 75px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;
    a {
      margin-bottom: 20px;
      text-decoration: none;
      color: $white;
      font-family: $font;
      font-size: 15px;
      cursor: pointer;
    }
    button {
      text-decoration: none;
      color: $white;
      font-family: $font;
      font-size: 15px;
      cursor: pointer;
      background: transparent;
      border: none;
      outline: none;
    }
    .logoutButton {
      margin-bottom: 20px;
    }
  }
}
