.home {
  width: 100%;
  height: auto;
  background-image: url('../assets/home.jpg');
  @include background-repeat;
  @include background-cover;
  display: flex;
  justify-content: center;
  
  .homeBackground {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba($color: #000, $alpha: 0.4);
    
    .homeContainer {
      width: 100%;
      height: auto;
      max-width: 1024px;
      padding: 20px 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (max-width: 768px) {
        padding: 20px 5px;
      }
      
      .positionHome {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 768px) {
          flex-direction: column-reverse;
        }
        
        .formLogin {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          @media (max-width: 768px) {
            justify-content: center;
            width: 190px;
          }
          form {
            width: 510px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 768px) {
              height: 152px;
              margin-bottom: 50px;
              flex-direction: column;
              align-items: center;
            }
            input {
              width: 131px;
              padding: 5px;
            }
          }
          
          .loginSignUp {
            width: 200px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 768px) {
              height: 30px;
            }
            .btnLogin {
              @include button;
              width: 90px;
              color: $white;
              background: transparent;
              transition: .5s ease-in-out;
              &:hover {
                background: #fff;
                border: 1px solid $white;
                color: #333333;
              }
            }
            .btnSignUp {
              @include button;
              width: 90px;
              color: $gray-600;
              background: $white;
              transition: .5s ease-in-out;
              &:hover {
                background: transparent;
                color: $white;
              }
            }
          }
        }
        
        .logoDownloadNow {
          height: 194px;
          margin: 60px 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          @media (max-width: 530px) {
            height: 148px;
            .logoResponsive {
              width: 240px;
              height: 42px;
            }
          }
          a {
            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }
}