.LoginIcon {
  border: none;
  outline: none;
  background: transparent;
  background-image: url('../assets/iconLogged.svg');
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.menuToggleLogin {
  width: 121px;
  padding: 19px 0;
  position: absolute;
  top: 75px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000CC;
  border-bottom: 2px solid #fff;
  a {
    height: 22px;
    margin-bottom: 20px;
  }
  button {
    width: 89px;
    height: 22px;
    font-family: $font;
    font-size: 15px;
    color: $white;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    &:hover {
      border-bottom: 2px solid red;
    }
    &:active {
      border-bottom: 2px solid white;
    }
  }
}