// Mixins

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin background-repeat {
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-repeat: no-repeat;
}

@mixin button {
  height: 100%;
  font-family: $font;
  font-size: 15px;
  border: 1px solid $white;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
}