.rate {
  width: 100%;
  padding: 20px 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 370px) {
    padding: 30px 0;
  }
  .showRate {
    width: 480px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 490px) {
      width: 280px;
    }
    .rateTitle {
      font-family: $font;
      font-size: 20px;
      font-weight: bold;
      color: $white;
    }
    div {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
      }
    }
    p, pre {
      font-family: $font;
      font-size: 15px;
      color: $white;
    }
  }
  .rateContainer {
    width: 320px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 370px) {
      width: 180px;
      height: 70px;
      flex-direction: column;
      align-items: center;
    }
    input {
      width: 131px;
    }
    button {
      @include button;
      width: 170px;
      background: transparent;
      color: $white;
      &:active {
        background-color: #333333;
        border: #333333;
        color: $white;
      }
      @media (max-width: 370px) {
        height: 29px;
      }
    }
  }
}