.retirement {
  background-color: #333333;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-family: $font;
    color: $white;
  }
  .retirementTitle {
    font-size: 20px;
    font-weight: bold;
  }
  form {
    width: 730px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 850px) {
      width: 280px;
      height: auto;
    }
    @media (max-width: 360px) {
      width: 220px;
    }
    .divForm {
      margin-bottom: 35px;
    }
    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @media (max-width: 850px) {
        flex-direction: column;
        align-content: center;
        height: 175px;
      }
      input {
        width: 230px;
        height: 35px;
        @media (max-width: 850px) {
          width: 100%;
        }
      }
      .bsChange {
        width: 230px;
        height: 35px;
        display: flex;
        align-items: center;
        @media (max-width: 850px) {
          width: 280px;
          flex-direction: row;
        }
        @media (max-width: 360px) {
          width: 220px;
        }
        p {
          width: 30%;
          height: 100%;
          border-bottom: 1px solid #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        input {
          width: 70%;
        }
      }
    }
    
    .btnSignup {
      @include button;
      width: 190px;
      height: 30px;
      padding: 5px;
      background: #fff;
      margin-top: 40px;
      &:active {
        background-color: black;
        border: black;
        color: $white;
      }
    }
  }
}