.signup {
  background-color: #333333;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  @media (max-width: 500px) {
    height: 500px;
    overflow-y: scroll;
  }
  @media (max-width: 350px) {
    padding: 30px 20px;
  }
  p {
    font-family: $font;
    color: $white;
    font-size: 20px;
    font-weight: bold;
  }
  form {
    width: 760px;
    height: 300px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 900px) {
      width: 280px;
      height: auto;
    }
    @media (max-width: 410px) {
      width: 220px;
    }
    .divForm {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @media (max-width: 900px) {
        flex-direction: column;
        align-content: center;
        height: 170px;
        margin-bottom: 20px;
      }
      input {
        width: 178px;
        height: 35px;
        @media (max-width: 900px) {
          width: 100%;
        }
      }
      select {
        width: 178px;
        color: $white;
        padding-left: 10px;
        font-size: 15px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
        cursor: pointer;
        @media (max-width: 900px) {
          width: 100%;
          padding-left: 90px;
          padding-bottom: 5px;
        }
        @media (max-width: 360px) {
          padding-left: 65px;
        }
        option {
          background-color: black;
          text-align: center;
        }
      }
      .cpLocation {
        width: 178px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 900px) {
          width: 100%;
        }
        .cp {
          width: 30%;
        }
        .location {
          width: 65%;
        }
      }
    }
    
    .passwordContainer {
      width: 100%;
      justify-content: flex-start;
      @media (max-width: 900px) {
        height: 75px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      input {
        width: 178px;
        height: 35px;
        margin-right: 15px;
        @media (max-width: 900px) {
          width: 100%;
        }
      }
    } 
    
    .btnSignup {
      @include button;
      width: 150px;
      height: 30px;
      background: #fff;
      &:active {
        background-color: black;
        border: black;
        color: $white;
      }
    }
  }
}