.steps {
  width: 100%;
  padding: 30px 0;
  background: linear-gradient(180deg, rgba(253,0,0,1) 0%, rgba(152,0,0,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  .stepsContainer {
    width: 777px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 830px) {
      width: 232px;
      height: 598px;
      flex-direction: column;
    }
    .step {
      width: 232px;
      height: 181px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .stepNumber {
        width: 46px;
        height: 46px;
        border: 3px solid white;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-family: $font;
          font-weight: bold;
          font-size: 22px;
          color: $white;
        }
      }
      .stepText1 {
        height: 101px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .stepText2 {
        height: 101px;
        display: flex;
        flex-direction: column;
        .stepText {
          margin-top: 10px;
        }
        a {
          color: blue;
          margin-left: 5px;
          border-bottom: 1px solid blue;
          cursor: pointer;
        }
      }
      .stepTitle {
        font-family: $font;
        font-size: 15px;
        font-weight: bold;
        color: $white;
        text-align: center;
      }
      .stepText {
        font-family: $font;
        font-size: 15px;
        color: $white;
        text-align: center;
        opacity: 0.5;
      }
    }
  }
}