.support {
  width: 100%;
  background: $black;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .headsetSupport {
    width: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-family: $font;
      color: $white;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .contactSupport {
    width: 780px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 880px) {
      height: 142px;
      width: auto;
      flex-direction: column;
      align-items: center;
    }
    div {
      display: flex;
      justify-content: space-between;
      p, button {
        font-family: $font;
        color: $white;
        font-size: 20px;
        @media (max-width: 450px) {
          font-size: 14px;
        }
      }
    }
    .phone {
      width: 170px;
      @media (max-width: 450px) {
        width: 130px;
        align-items: center;
      }
    }
    .mail {
      width: 350px;
      @media (max-width: 450px) {
        width: 255px;
      }
    }
    .chat {
      width: 155px;
      @media (max-width: 450px) {
        width: 120px;
        align-items: center;
      }
      button {
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
}